* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e0e0ce;
  text-align: center;
  word-wrap: break-word;
  padding: 1rem;
}

h1 {
  font-size: clamp(1rem, 3vw, 1.6rem);
  padding: 0.7rem;
}

#chart-container {
  width: 95%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

svg {
  width: 100%;
  height: 100%;
}

g {
  font-size: clamp(0.5rem, 3vw, 0.8rem);
}

#tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  background: lightsteelblue;
  border: 1px solid #333;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
}

.guide {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
  font-weight: bold;
}

.green {
  color: green;
}

.red {
  color: red;
}

@media (max-width: 600px) {
  body {
    padding: 0.2rem;
  }
  #chart-container {
    width: 100%;
  }
}
